body {
  display: flex;
}

.action-container {
  width:300px;
  height: 100vh;
  border-right: 1px solid lightgrey;
  margin-right: 0;
}

.action-container .header {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  width: 100%;
  height:100px;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}

.action-container #list-view .header {
  background-color: #1EAFF9;
  color: #fff;
}

.action-container .header .title {
  width: 33%;
}

.action-container .header .back-button {
  font-weight: bold;
  width: 33%;
}
.action-container .header .back-button:hover {
  color: #FFF;
}

nav {

}

nav .li {
}

nav#home {

}

section#lost-pet{
  display: none;
}

section#found-pet {
  display: none;
}

section#about-us {
  display: none;
}
