<section id="show-sighting">
  <div class="header">
    <div class="back-button">
      <a href="#">&lt;</a>
    </div>
    <div class="title">
      Pet Sighting
    </div>
  </div>
  <div class="content">

    <p>Pet type: <%= @sighting.pet_type %></p>
    <p>Last seen: <%= @sighting.address %></p>
    <p>Date: <%= @sighting.date_seen %></p>
    <p>Note: <%= @sighting.note %></p>

  </div>

</section>