<div id="message-container">
  <h1 align="center-left">Message</h1>
  <%= render "form", :html =>  { :class => "message-form"} %>

  <div id="messages">
      <%= render 'message', {message: @message} %>
  </div>
<div>
